.customButton {
  background-color: #f7f7f7;
  border: 1px solid #444;
  padding: 20px 10px;
  color: #f7f7f7;
  font-weight: 700;
  font-size: 16px;
  transition: all 200ms;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    background-color: #444;
  }
  &.sign-up-button {
    background-color: #444;
    border: none;
    padding: 20px 10px;
    color: #f7f7f7;
    font-weight: 700;
    font-size: 16px;
    &:hover {
      cursor: pointer;
      background-color: #f7f7f7;
      outline: 1px solid #444;
      color: #444;
    }
  }

  &.sign-in-google-button {
    background-color: #f87575;
    border: none;
    padding: 20px 10px;
    color: #f7f7f7;
    font-weight: 700;
    font-size: 16px;
    &:hover {
      cursor: pointer;
      background-color: #f7f7f7;
      outline: 1px solid #444;
      color: #444;
    }
  }
}
