.checkout-container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  width: 70%;
  margin: 0 auto;
  .cart-item-container {
    border-bottom: 1px solid #888;
    img {
      width: 10%;
    }
    .cart-item-text {
      background-color: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 180px;
      .item-title {
        font-size: 24px;
      }
      .tools-container {
        font-size: 40px;
        column-gap: 10px;
      }

      .trash-icon {
        margin-left: 150px;
        transform: scale(1.5);
      }
    }
  }

  .checkout-total {
    font-size: 30px;
    text-align: end;
    padding: 0px 30px;
  }
}
