.counter-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .counter-arrow {
    width: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
