.cart-item-container {
  display: flex;
  row-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  &:hover {
    background-color: #f7f7f7;
  }

  .trash-icon {
    width: 20px;
    display: inline-block;
    margin: 10px;
    transition: all 200ms;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  .cart-item-text {
    transition: all 200ms;
    width: 100%;
    padding: 30px 20px;
    &:hover .item-info {
      font-size: 20px;
    }
  }
  .item-title {
    letter-spacing: 1.5;
    color: #444;
  }

  .item-info {
    font-weight: 100;
    color: #444;
    transition: all 200ms;
  }

  img {
    max-width: 40%;
    height: auto;
    object-fit: cover;
  }
  .cart-item-text {
    display: flex;
    flex-direction: column;
  }
}
